<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafy.skye.alertmanager.mapper.PrometheusAlertMapper">

	<resultMap id="PrometheusAlertMap" type="com.dafy.skye.alertmanager.po.PrometheusAlertPO">
		<result column="id" property="id" />
		<result column="status" property="status" />
		<result column="alertname" property="alertname" />
		<result column="hostname" property="hostname" />
		<result column="instance" property="instance" />
		<result column="job" property="job" />
		<result column="receiver_group" property="receiverGroup" />
		<result column="warning_level" property="warningLevel" />
		<result column="service" property="service" />
		<result column="warning_service" property="warningService" />
		<result column="extra_labels" property="extraLabels" />
		<result column="summary" property="summary" />
		<result column="grafana_link" property="grafanaLink" />
		<result column="skye_link" property="skyeLink" />
		<result column="extra_annotations" property="extraAnnotations" />
		<result column="start_time" property="startTime" />
		<result column="version" property="version" />
		<result column="group_labels" property="groupLabels" />
		<result column="receivers" property="receivers" />
		<result column="notification_channel" property="notificationChannel" />
	</resultMap>

	<insert id="addAlert" parameterType="com.dafy.skye.alertmanager.po.PrometheusAlertPO">
		insert into t_prometheus_alert(
			status,alertname,hostname,
			instance,job,receiver_group,
			warning_level,service,warning_service,
			extra_labels,summary,grafana_link,
			skye_link,extra_annotations,start_time,
			version,group_labels,receivers,
			notify_channel)
		values (
			#{status},#{alertname},#{hostname},
			#{instance},#{job},#{receiverGroup},
			#{warningLevel},#{service},#{warningService},
			#{extraLabels},#{summary},#{grafanaLink},
			#{skyeLink},#{extraAnnotations},#{startTime},
			#{version},#{groupLabels},#{receivers},
			#{notificationChannel})
	</insert>


	<select id="getAlerts" resultMap="PrometheusAlertMap">
		SELECT *
		FROM
			t_prometheus_alert
		WHERE
			start_time >= #{startTime}
			AND start_time &lt;= #{endTime}
			AND warning_service IN
			<foreach collection="services" index="index" item="service" open="(" separator="," close=")">
				#{service}
			</foreach>
		ORDER BY start_time DESC
		LIMIT ${limit}
	</select>

	<select id="getAlertsByIds" resultMap="PrometheusAlertMap">
		SELECT *
		FROM
			t_prometheus_alert
		WHERE
			id IN
			<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
	</select>

	<select id="getAlertById" resultMap="PrometheusAlertMap">
		SELECT *
		FROM
			t_prometheus_alert
		WHERE
			id = #{id}
		LIMIT 1
	</select>

</mapper>
